.input-label{
    display: block;
}

input[type=checkbox] {
    /* display: none; */
}

.checkbox label:before {
    border-radius: 3px;
}

input[type=checkbox]:checked {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    }