.inactive {
    color: lightgray;
    margin: 15px;
    display: inline;
}

.day-nav, a.day-nav {
    color:#d49f00;
}

a.day-nav:hover {
    color:#967001;
    text-decoration: none;
}

.quiet {
    color:rgb(146, 157, 163);
    font-style: italic;   
    font-size: medium;
}

a.brighten {
    color:#d49f00 ;
    font-weight: 600;
    text-shadow: 0 0 3px #d49f00;
}